<section class="footer">
    <div class="container">

        <div class="col-md-4">
            <div class="widget about-widget">
                <h6 class="widget-head">Saturday <span class="highlight">Feburary 2nd</span>, 2019 </h6>
                <p class="text-alt"><small>Featuring the presentation of the Bart Starr Award to a current NFL player for outstanding character, integrity and leadership in the home, on the field, and in the community</small></p>

            </div>
        </div>

        <div class="col-md-4 col-lg-3 col-lg-offset-1">
            <div class="widget twitter-widget">
                <h6 class="widget-head"><span class="fa fa-twitter"></span> Twitter Feed</h6>
                    <a class="twitter-timeline" data-height="400" data-theme="dark" data-link-color="#E95F28" href="https://twitter.com/SBowlBreakfast?ref_src=twsrc%5Etfw">Tweets by SBowlBreakfast</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

        <div class="col-md-4 col-lg-3 col-lg-offset-1">
            <div class="widget instagram-widget">
                <h6 class="widget-head"><span class="fa fa-envelope"></span> Contact</h6>

                <ul class="list">
                    <li><i class="fa fa-envelope"></i>sbb@athletesinaction.org</li>
                    <li><i class="fa fa-phone"></i>(800) 416-9472</li>
                    <li class="socials-nav-item"><a href="https://twitter.com/SBowlBreakfast" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="socials-nav-item"><a href="https://www.facebook.com/SBowlBreakfast" target="_blank"><i class="fa fa-facebook"></i></span></a></li>
                    <li class="socials-nav-item"><a href="https://www.instagram.com/super_bowl_breakfast/" target="_blank"><span class="fa fa-instagram"></span></a></li>
                    <li class="socials-nav-item"><a href="https://www.linkedin.com/company/athletes-in-action/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                </ul>
                <p class="text-alt"><small>All Rights Reserved © 2018</small></p>
            </div>
        </div>

    </div>
</section>

<!--[if lt IE 9]>
    <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-2.1.4.min.js?ver=1"></script>
<!--<![endif]-->

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/toastr.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.plugin.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.countdown.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/modal-box.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/ventcamp.js"></script>
</body>
</html>
