<section id="speakers" class="section align-center">
    <div class="container">
        {% if section.header %}
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>{{ section.title }}</h3>
        <p class="text-alt">Check back for <span class="highlight">updates</span></p>
        {% endif %}
        <br />
        <br />
        <div class="row text-center">
            {% for speak in section.bios %}
            <div class="col-xs-12 col-sm-6">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="{{speak.image}}" alt="{{speak.name}}" class="img-responsive"></div>
                    <h3 class="name">{{speak.name}}</h3>
                    <p class="bold"><small>{{speak.title}}</small></p>
                    <p class="about">{{ speak.credentials }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <br />
        <br />
    </div>
</section>