<section id="gallery" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-badges-votes-01"></span>
			<h3>Previous events</h3>
			<p class="text-alt">see what we did <span class="highlight">lately</span></p>
			<br/>

			<div class="gallery masonry">
				{% assign gallery = site.gallery | sort: 'year'  | reverse  %}
				{% for post in gallery limit:1 %}
				{% assign sorted = post.images | reverse %}
				{% for image in sorted %}
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-{{forloop.index}}">
						<img src="{{image}}" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-{{forloop.index}}">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="{{image | replace: '-thumb',''}}" class="full-width-img" alt="gallery{{forloop.index}}">
						</div>
					</div>
				</span>
				{% endfor %}
				{% endfor %}
			</div>
			<div class="col-sm-6" ><div class="videowrapper">
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/Q0DRgW-XlxM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div></div>
			<div class="col-sm-6"><div class="videowrapper">
				<iframe style="width: 100%;" src="https://www.youtube.com/embed/rkrEkMYY1mc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div></div>
		</div>
	</section>