<section id="prices" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-shopping-04"></span>
			<h3>Tickets</h3>
			<p class="text-alt">Get yours why they are still <span class="highlight">available</span></p>
			<br/>
			<br/>
			<div class="row no-margin">
				<div class="no-padding col-xs-12 col-sm-3">
				<div class="price">
					<div class="price-top package-column">
					<h4 class="price-title">Priority Seating</h4>
					<div class="price-category">Table</div>
					<div class="price-per"><sup>$</sup>2500<sub>/per</sub></div>
					<div class="price-desc">Best available seats nearest to Sponsor and VIP seating.  Clear lines of site to the stage. Good for 10 people.</div>
					<br />
					<a href="https://secure.ministrysync.com/ministrysync/event/?e=16408" class="btn btn-lg">Buy now</a>
					</div>
					</div>
				</div>
				<div class="no-padding col-xs-12 col-sm-3">
					<div class="price left">
					<div class="price-top package-column">
						<h4 class="price-title">Priority Seating</h4>
						<div class="price-category">Seat</div>
						<div class="price-per"><sup>$</sup>250<sub>/per</sub></div>
						<div class="price-desc">Best available seats nearest to Sponsor and VIP seating.  Clear lines of site to the stage.  Ticket Good for 1 Person.</div>
						<br />
						<a href="https://secure.ministrysync.com/ministrysync/event/?e=16408" class="btn btn-lg">Buy now</a>
					</div>
									
					</div>
					</div>
					<div class="no-padding col-xs-12 col-sm-3">
					<div class="price">
						<div class="price-top package-column">
						<h4 class="price-title">Corporate Seating</h4>
						<div class="price-category">Table</div>
						<div class="price-per"><sup>$</sup>2000<sub>/per</sub></div>
						<div class="price-desc">Purchase of this table for $1000 includes tickets for 10 people.  Set just behind Priority Seating. Good for 10 people.</div>
						<br />
						<a href="https://secure.ministrysync.com/ministrysync/event/?e=16408" class="btn btn-lg">Buy now</a>
						</div>
						</div>
					</div>
					<div class="no-padding col-xs-12 col-sm-3">
						<div class="price left">
						<div class="price-top package-column">
							<h4 class="price-title">Corporate Seating</h4>
							<div class="price-category">Seat</div>
							<div class="price-per"><sup>$</sup>200<sub>/per</sub></div>
							<div class="price-desc">Set just behind Priority Seating. Ticket Good for 1 Person.</div>
							<br />
							<a href="https://secure.ministrysync.com/ministrysync/event/?e=16408" class="btn btn-lg">Buy now</a>
						</div>
						</div>
						</div>
				</div> 
		</div> 
	</section>