{% assign winner = site.inductees | sort: 'year' | reverse %}
<!-- <section id="bart-starr" class="section align-center">
    <div class="container">
            <h3>We said good-by to our dear friend, Bart Starr, at a Celebration of Life service on June 9.</h3>
        <div class="col-sm-12" ><div class="videowrapper video-bottom-space">
                <iframe src="https://player.vimeo.com/video/341413785" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div></div>
        <div class="col-sm-12" ><div class="videowrapper video-bottom-space">
                <iframe src="https://player.vimeo.com/video/341416203" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div></div>
        <h4>Here are two videos that we produced for the service.</h4>
        <p>To see the entire service, please visit <a href="https://www.packers.com/" target="_blank">www.packers.com</a></p>
    </div>
</section> -->
<section id="about" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-sport-09"></span>
        <h3>{{ site.data.event.event_name }}</h3>
        <p class="text-alt">{{ site.data.event.dayofweek }}, <span class="highlight">{{ site.data.event.month }} {{ site.data.event.day }}, {{ site.data.event.year }}</span> {{ site.data.event.time }}</p>
        <br />
        <br />

        <div class="tabs-wrapper tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#horizontal_tab1" data-toggle="tab">
                    <h6 class="heading-alt"><span class="icon icon-seo-icons-30"></span> {{ site.data.event.event_name }}</h6>
                </a></li>
                <li><a href="#horizontal_tab3" data-toggle="tab">
                    <h6 class="heading-alt"><span class="fa fa-trophy"></span> {{ winner[0].year }} Winner</h6>
                </a></li>
            </ul>

            <div class="tab-content">
                <div id="horizontal_tab1" class="tab-pane fade active in">
                    <div class="row">
                        {% if section.left_image != nil and section.left_image != '' %}
                        <div class="col-sm-5 img-column">
                            <img src="{{ section.left_image }}" alt="" class="img-responsive" />
                        </div>
                        <div class="col-sm-7 align-left">
                        {% else %}
                        <div class="col-sm-12 align-left">
                        {% endif %}
                            {{ section.right_text | markdownify }}
                        </div>
                    </div>
                    <div class="row">                    
                        <div class="col-sm-7 align-right">
                            {{ section.left_text | markdownify }}
                        </div>
                        <div class="col-sm-5 img-column">
                            <img src="{{ section.right_image }}" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>

                
                <div id="horizontal_tab3" class="tab-pane fade">
                    <div class="col-sm-5 img-column">
                        <img src="{{winner[0].feature_image}}" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>{{winner[0].title}}</h6>
                        {{ winner[0].content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
