<section id="learn-more">
    <div class="container mt40 pb65">
        <div class="row">
            <div class="col-sm-12">{{ section.text }}</div>
        </div>
    </div>
    <div class="container learn-more-items">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w1.png" />
                <p>Former NFL Coach Tony Dungy has a special message for you!<br><br><br></p>
                <div class="hidden-sm"></div>
                <a href="https://www.youtube.com/watch?v=le67N4lEmWM&feature=youtu.be" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b1.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w2.png" />
                <p>Did you pray to receive Christ with Benjamin Watson?<br>Sign up for “Gameday with Coach Gill” a 5 week follow up session to help you get started on your journey.</p>
                <a href="https://forms.gle/uEWuqaR2Y1VPew3u6" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b2.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w3.png" />
                <p>Athletes in Action<br>Learn More</p>
                <a href="https://athletesinaction.org/read/" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b3.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w4.png" />
                <p>Hear more from Ben and Kirsten Watson about how you can join them in the fight to end human trafficking. </p>
                <a href="https://www.ijm.org/aia-pledge" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b4.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w5.png" />
                <p>Do you have questions about a relationship with God?</p>
                <a href="https://www.everystudent.com/menus/existence.html" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b5.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w6.png" />
                <p>Learn more about marriage, family and relationships</p>
                <a href="https://www.familylife.com" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b6.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w7.png" />
                <p>Explore Faith in the Military</p>
                <a href="https://crumilitary.org" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b7.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w8.png" />
                <p>640,973 Bible Questions Answered!</p>
                <a href="https://www.gotquestions.org" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b8.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w9.png" />
                <p>Watch Bonus Segments here:</p>
                <a href="" target="_blank" rel="nofollow"><img class="lm-btn" src="/assets/img/learnmore/b9.png" /></a>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="/assets/img/learnmore/w10.png" />
                <p>&nbsp;</p>
                <a href="https://athletesinaction.org/give/sbb/"><img class="lm-btn" src="/assets/img/learnmore/b10.png" /></a>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <img class="sbb-logo-bottom" src="/assets/img/sbb-logo-2021-vert.png">
    </div>
</section>
