<section class="section align-center">
    <div class="container">
        <div class="campaign-form row text-center" style="display:flex; justify-content:center;">
            <form class="" action="https://campaign-forms.cru.org/forms" method="post">
                <input type="hidden" name="id" value="64b69f64-db46-41dc-9b72-e620289f246a" />
                <div class="form-group">
                    <label for="cf_email_address">Email Address</label>
                    <input id="cf_email_address" class="form-control" type="email" name="email_address" placeholder=""
                        required>
                </div>

                <button type="submit" class="btn btn-primary">Send Me Resources</button>
            </form>
            <div class="alert alert-success hidden" role="alert">
                <div><strong>Congratulations!</strong> You have successfully subscribed.</div>
            </div>
        </div>
    </div>
</section>