<section id="bonus-segments">
    <div class="container mt40 pb65">
        <div class="row">
            <div class="col-sm-12">{{ section.text }}</div>
        </div>
    </div>
    <div class="container bonus-segment-items">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/508468105" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                <p>Anthony Munoz/Rocky Bleier/Chad Hennings</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/508468375" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                <p>Clark Hunt</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/508172182" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                <p>Laurent Duvernay-Tardif</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/508220008" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                <p>Pittsburgh Steelers Vance McDonald & Kent Chevalier</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/508232604" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                <p>Bart Starr Award Presentation</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/508278331" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                <p>Race & Justice</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/508264933" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                <p>Ben Watson’s Message</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <img class="sbb-logo-bottom" src="/assets/img/sbb-logo-2021-vert.png">
    </div>
</section>
<script src="https://player.vimeo.com/api/player.js"></script>
