<section id="sponsors" class="section align-center">
	<div class="container">
		{% if site.sponsors.size > 0 %}
			<span class="icon section-icon icon-documents-bookmarks-12"></span>

			{% assign ntsponsors = site.sponsors | where: "type", "National Title" | sort: "date" | reverse %}
			{% if ntsponsors.size > 0 %}
				<h3>National Title Sponsor</h3>
				{% for s in ntsponsors %}
					<div class="row">
						<div class="sponsors">
							<div class="sponsor big"><a href="{{s.link}}"><img src="{{ s.logo }}" alt="{{ s.altl }}"></a></div>
						</div>
					</div>
					<div class="row national-sponsor-content">
						<div class="col-sm-8 text-left">
							<p>{{s.desc}}</p>
							<p class="text-center"><a href="{{ s.link }}" rel="nofollow" class="btn btn-md">Visit Website</a></p>
						</div>
						<div class="col-sm-4">
							<img src="{{ s.img1 }}" alt="{{ s.alt1 }}"></a>
						</div>
					</div>
				{% endfor %}

		{% endif %}
			{% assign psponsors = site.sponsors | where: "type", "Presenting" | sort: "date" | reverse %}
			{% if psponsors.size > 0 %}
				<h4>Presenting Sponsors</h4>
				<div class="sponsors">
					{% for s in psponsors %}
					<div class="sponsor medium"><a href="{{s.link}}"><img src="{{ s.logo }}" alt=""></a></div>
					{% endfor %}
				</div>
			{% endif %}
			{% assign hsponsors = site.sponsors | where: "type", "Host" | sort: "date" %}
			{% if hsponsors.size > 0 %}
				<h4>Host Sponsor</h4>
				<div class="sponsors">
					{% for s in hsponsors %}
					<div class="sponsor small host"><a href="{{s.link}}"><img src="{{ s.logo }}" alt=""></a></div>
					{% endfor %}
				</div>
			{% endif %}
			{% assign csponsors = site.sponsors | where: "type", "Corporate" | sort: "date" | reverse %}
			{% if csponsors.size > 0 %}
				<h4>Corporate Sponsor</h4>
				<div class="sponsors">
					{% for s in csponsors %}
					<div class="sponsor small"><a href="{{s.link}}"><img src="{{ s.logo }}" alt=""></a></div>
					{% endfor %}
				</div>
			{% endif %}
			{% assign esponsors = site.sponsors | where: "type", "Executive" | sort: "title" %}
			{% if esponsors.size > 0 %}
				<h5>Executive Sponsor</h5>
				<div class="sponsors">
					{% for s in esponsors %}
					<div class="sponsor"><a href="{{s.link}}"><img src="{{ s.logo }}" alt=""></a></div>
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}
	</div>
</section>
