<section id="speakers" class="section align-center">
        <div class="container">
            <span class="icon section-icon icon-faces-users-04"></span>
            <h3>Speakers</h3>
            <p class="text-alt">Meet our <span class="highlight">Special Guests</span></p>
            <br />
            <br />

            <div class="col-sm-3">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker1.jpg" alt="Akbar Gbajabiamila" class="img-responsive"></div>
                    <h3 class="name">Akbar Gbajabiamila</h3>
                    <p class="text-alt"><small>NFL, 2003 - 2008</small></p>
                    <p class="about">Co-Host of American Ninja Warrior, Sports Analyst, NFL Network  </p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker2.jpg" alt="Tony Dungy" class="img-responsive"></div>
                    <h3 class="name">Tony Dungy</h3>
                    <p class="text-alt"><small>Super Bowl Champion Coach </small></p>
                    <p class="about">Studio Analyst, "Football Night in America" & "Thursday Night Football"</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker3.jpg" alt="Dan Reeves" class="img-responsive"></div>
                    <h3 class="name">Anthony Munoz</h3>
                    <p class="text-alt"><small>NFL, 1965 - 2003</small></p>
                    <p class="about">Pro Football Hall of Fame</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker4.jpg" alt="Munoz Anthony" class="img-responsive"></div>
                    <h3 class="name">Dan Reeves</h3>
                    <p class="text-alt"><small>Cincinnati Bengals, 1980 -1992</small></p>
                    <p class="about">2x Super Bowl Champion Coach (VI, XII)</p>
                </div>
            </div>
    </section>