<section id="bonus-segments">
    <div class="container mt40 pb65">
        <div class="row">
            <div class="col-sm-12">{{ section.text }}</div>
        </div>
    </div>
    <div class="container bonus-segment-items">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/yPGNE6c1aAc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Benjamin Watson Explains the Gospel</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/FEx7g9yP0qA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Demario Davis Presented with Bart Starr Award</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/oG6lQRvOxqI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Race, Justice & Unity Roundtable - J. Brown, T. Dungy, B. Watson, F. Riech</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/s7siAGtUk0k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Benjamin Watson and wife Kirsten Partner with International Justice Mission</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/RvY5m8W7alo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Duvernay-Tardif Sat Out NFL Season, Super Bowl to Tackle COVID Pandemic</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/mHUznCyVKQw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Steelers' Vance McDonald, Chaplain Offer Comfort During COVID Pandemic</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/VLqSyW-Chtw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Clark Hunt - How Did the Super Bowl Get Its Name?</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/YObScjtdfoQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Military Tribute by Anthony Munoz, Chad Henning, Rocky Bleier</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/gFvqU1Q7auY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>B. Jones makes Fun of Himself with S. Largent, J. Lynch, & D. Brees</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/w0R5KhD74Sw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>John Lynch Describes the Late, Great, Reggie White's "Hump Move"</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/L32EUIR4b6c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Bart Starr quotes Vince Lombardi: "Run it and let's get the ___ outta here"</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/42vT0t0cA9M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <p>Anthony Munoz Banters Brent Jones - Super Bowl Breakfast</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <img class="sbb-logo-bottom" src="/assets/img/sbb-logo-2021-vert.png">
    </div>
</section>
<script src="https://player.vimeo.com/api/player.js"></script>
