{% assign winner = site.inductees | sort: 'year' | reverse %}
<section id="about" class="section align-center">
    <div class="container">
<!--        <span class="icon section-icon icon-sport-09"></span>-->
<!--        <h3>{{ site.data.event.event_name }}</h3>-->
<!--        {% if site.data.event.location %}-->
<!--        <p class="text-alt">-->
<!--                {% if site.data.event.hotel-link != nil %}-->
<!--                <a href="{{ site.data.event.hotel-link }}" target="_new">{{ site.data.event.location }}</a>-->
<!--                {% else %}-->
<!--                {{ site.data.event.location }}-->
<!--                {% endif %}-->
<!--        </p>-->
<!--        {% endif %}-->
<!--        {% if site.data.event.address %}-->
<!--        <p class="text-alt">{{ site.data.event.address }} <br /> {{ site.data.event.city-state }}</p>-->
<!--        {% endif %}-->

        <div class="bart-star-award-current-winner">
            <h2>Congratulations to Demario Davis of the New Orleans Saints<br>for being selected as the winner of the 2021 Bart Starr Award.</h2>
            <img src="/uploads/demario-davis-headshot.jpg" alt="Demario Davis" title="2021 Bart Star Award Winner - Demario Davis"/>
        </div>

        <div class="row" id="watch-presentation">
            <p>Watch the presentation by Tony Dungy, Cherry Starr and Bart StarrJr. on February 6 and 7 during the Super Bowl Breakfast Online Special.</p>
            <div class="col-sm-3 col-sm-offset-3">
                <a href="https://www.facebook.com/athletesinaction/videos/408019103825748" class="btn btn-md" target="_blank">View on Facebook</a>
            </div>
            <div class="col-sm-3 mobile-margin-top">
                <a href="https://www.youtube.com/watch?v=1yIxP-7-CaU&t=1713s" class="btn btn-md" target="_blank">View on YouTube</a>
            </div>
        </div>

        <div class="tabs-wrapper tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#horizontal_tab1" data-toggle="tab">
                    <h6 class="heading-alt"><span class="icon icon-seo-icons-30"></span> {{ site.data.event.event_name }}</h6>
                </a></li>
                <li><a href="#horizontal_tab3" data-toggle="tab">
                    <h6 class="heading-alt"><span class="fa fa-trophy"></span> {{ winner[0].year }} Winner</h6>
                </a></li>
            </ul>

            <div class="tab-content">
                <div id="horizontal_tab1" class="tab-pane fade active in">
                    <div class="row">
                        {% if section.left_image != nil and section.left_image != '' %}
                        <div class="col-sm-5 img-column">
                            <img src="{{ section.left_image }}" alt="" class="img-responsive" />
                        </div>
                        <div class="col-sm-7 align-left">
                        {% else %}
                        <div class="col-sm-12 align-left">
                        {% endif %}
                            {{ section.right_text | markdownify }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 align-right">
                            {{ section.left_text | markdownify }}
                        </div>
                        <div class="col-sm-5 img-column">
                            <img src="{{ section.right_image }}" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div id="horizontal_tab3" class="tab-pane fade">
                    <div class="col-sm-5 img-column">
                        <img src="{{winner[0].feature_image}}" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>{{winner[0].title}}</h6>
                        {{ winner[0].content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
