---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: heading
  label: Content
- type: directory
  path: ''
  label: Pages
  create: documents
  match: "*.md"
  templates:
  - page-builder
- type: directory
  path: _inductees
  label: Inductees
  create: documents
  match: "**/*"
  templates:
  - inductee
- type: jekyll-posts
  label: Press Releases
  create: all
- type: directory
  path: _sponsors
  label: Sponsors
  create: documents
  match: "**.md"
  new_doc_ext: "*.md"
  templates:
  - sponsor
- type: directory
  path: _gallery
  label: Gallery
  create: documents
  match: "**.md"
  new_doc_ext: "*.md"
  templates:
  - photo-gallery
- type: heading
  label: Settings
- type: document
  path: _data/event.yml
  label: Event Settings
- type: document
  path: _data/tickets.yml
  label: Ticket Prices
  match: "**/*"
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
