<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Superbowl Breakfast</title>


	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}assets/img/apple-touch-icon-114x114.jpg">

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/custom-animations.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/aia.css" />

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	{% include analytics.html %}
	<style type="text/css">
		.smaller h3, .smaller h4, .smaller h5 { font-size: medium; }
	</style>
</head>

<body>
	{% include menuwithlogo.html %}
	<section class="section align-center overlay bg-cover bg5 light-text">
		<h3><a style="text-decoration: none; color: white;" href="../">{{site.data.event.year}} Superbowl Breakfast</a></h3>
		<h4>{{site.data.event.location}}</h4>
	</section>

	<div class="container">
		<div class="row smaller">
			{{ content }}
		</div>
	</div>

    {% include footer.html %}
