<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Superbowl Breakfast</title>

	<meta name="description" content="PSD to HTML5+CSS3 conversion.">
	<meta name="keywords" content="PSD, HTML5, CSS3">
	<meta name="author" content="Vivaco">

	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">

	<link rel="stylesheet" type="text/css" href="../assets/css/custom-animations.css" />
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="preloader-mask">
		<div class="preloader"></div>
	</div>

	<section class="section align-center overlay bg-cover bg5 light-text">
  	<h3><a style="text-decoration: none; color: white;" href="../">Superbowl Breakfast</h3>
	</section>

	{% include menu.html %}

    {{ content }}

    {% include footer.html %}
