<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Superbowl Breakfast</title>

	<meta name="description" content="PSD to HTML5+CSS3 conversion.">
	<meta name="keywords" content="PSD, HTML5, CSS3">
	<meta name="author" content="Vivaco">

	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">

	<link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/aia.css" />

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="preloader-mask">
		<div class="preloader"></div>
	</div>

	<section id="hero" class="hero-section bg1 bg-cover window-height light-text">
		<div class="heading-block centered-block align-center">
			<div class="container">
				<h5 class="heading-alt" style="margin-bottom: 8px;"><span class="fa fa-calendar-o base-clr-txt"></span>02.Feb <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>Atlanta,GA</h5>
				<h1 class="extra-heading">Super Bowl Breakfast</h1>
				<div class="btns-container">
					<a href="#" class="btn btn-md" data-modal-link="email-ticket">GET TICKETS</a>
					<a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>
				</div>
				<ul class="socials-nav">
					<li class="socials-nav-item"><a href="https://twitter.com/SBowlBreakfast" target="_blank"><span class="fa fa-twitter"></span></a></li>
					<li class="socials-nav-item"><a href="https://www.facebook.com/SBowlBreakfast" target="_blank"><span class="fa fa-facebook"></span></a></li>
					<li class="socials-nav-item"><a href="https://www.instagram.com/super_bowl_breakfast/" target="_blank"><span class="fa fa-instagram"></span></a></li>
					<li class="socials-nav-item"><a href="https://www.linkedin.com/company/athletes-in-action/" target="_blank"><span class="fa fa-linkedin"></span></a></li>

				</ul>
			</div>
		</div>
	</section>

	{% include menu.html %}

	<section id="about" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-multimedia-12"></span>
			<h3>Super Bowl Breakfast</h3>
			<p class="text-alt">Saturday, <span class="highlight">February 2, 2019</span> 8 AM</p>
			<br />
			<br />

			<div class="tabs-wrapper tabs-horizontal">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#horizontal_tab1" data-toggle="tab">
						<h6 class="heading-alt"><span class="fa fa-star"></span> Superbowl Breakfast</h6>
					</a></li>
					<li><a href="#horizontal_tab2" data-toggle="tab">
						<h6 class="heading-alt"><span class="fa fa-microphone"></span> 2019 Sponsor</h6>
					</a></li>
					<li><a href="#horizontal_tab3" data-toggle="tab">
						<h6 class="heading-alt"><span class="fa fa-trophy"></span> 2018 Winner</h6>
					</a></li>
				</ul>

				<div class="tab-content">
					<div id="horizontal_tab1" class="tab-pane fade active in">
						<div class="col-sm-5 img-column">
							<img src="assets/img/sbb2018.png" alt="" class="img-responsive" />
	          </div>
	          <div class="col-sm-7 align-left">
							<h6>Super Bowl Breakfast</h6>
							<p>The NFL-sanctioned Athletes in Action Super Bowl Breakfast has taken place in the Super Bowl host city every year since 1988, drawing sellout crowds to hear from some of sport’s biggest names.  The Bart Starr Award, presented at the breakfast, honors Starr’s lifelong commitment to serving as a positive role model to his family, teammates and community. The winner of the Bart Starr Award is determined by NFL-player balloting at the end of the regular season, making it one of only two individual honors selected by the players themselves.
						</div>
	        </div>

					<div id="horizontal_tab2" class="tab-pane fade">
						<div class="col-sm-7 align-right">
							<h6>National Title Sponsor</h6>
	            <p>Founded in 2011, the Super Service Challenge is a nationwide movement to transform organizations through service. Driven by the idea people and teams grow stronger when they join together to serve, the Challenge encourages volunteerism, sharing stories of service and awarding funds to nonprofits. </p>
	            <p>The impact of the Super Service Challenge grows each year. To date, more than 100,000 people have served nearly 3,000 charities nationwide through the Challenge, and winning nonprofits have received more $30 million in awards. Online, the Challenge has shared more than 20,000 stories of service, counted more than 2.5 million votes, and made over 300 million media impressions. </p>
	            <p>Whether you are part of a business, family, team of friends, or ministry, the Super Service Challenge provides a way to facilitate teamwork and engagement that benefits individuals, teams and communities<p>
	          </div>

						<div class="col-sm-5 img-column">
							<img src="assets/img/sponsorlogo.png" alt="" class="img-responsive" />
	          </div>
					</div>

					<div id="horizontal_tab3" class="tab-pane fade">
						<div class="col-sm-5 img-column">
							<img src="assets/img/winners/benwatson.jpg" alt="" class="img-responsive" />
						</div>
						<div class="col-sm-7 align-left">
							<h6>Benjamin Watson</h6>
							<p><strong><span class="highlight">Benjamin Watson</span></strong> of the Baltimore Ravens is the winner of the 2018 Bart Starr Award for outstanding character, integrity and leadership on and off the field. Watson was selected by his peers in the NFL, making this the only award voted on by all the players other than the Pro Bowl.</p>
							<p>Watson played college football at the University of Georgia and was drafted by the New England Patriots 32nd overall in the 2004 NFL draft. He also played for the Cleveland Browns and New Orleans Saints. <a href="/bartstar">Read More...</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

		<!-- Countdown start -->

	<section class="section align-center overlay bg-cover bg5 light-text hidden-xs">
		<div class="container">
				<!-- Countdown start -->
		<div class="row counters-wrapper countdown ">
			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border has-separator">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{dnn}</span>

							<p class="title">days</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border has-separator">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{hnn}</span>

							<p class="title">hours</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border has-separator">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{mnn}</span>

							<p class="title">minutes</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="counter-block counter-block-no-border">
					<div class="counter-box">
						<div class="counter-content">
							<span class="count">{snn}</span>

							<p class="title">seconds</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		</div>
		</section>

		<section id="speakers" class="section align-center">
			<div class="container">
				<span class="icon section-icon icon-faces-users-04"></span>
				<h3>Speakers</h3>
				<p class="text-alt">Meet our <span class="highlight">Special Guests</span></p>
				<br />
				<br />

				<div class="col-sm-3">
					<div class="speaker">
						<div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker1.jpg" alt="Akbar Gbajabiamila" class="img-responsive"></div>
						<h3 class="name">Akbar Gbajabiamila</h3>
						<p class="text-alt"><small>NFL, 2003 - 2008</small></p>
						<p class="about">Co-Host of American Ninja Warrior, Sports Analyst, NFL Network  </p>
						<ul class="speaker-socials">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="speaker">
						<div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker2.jpg" alt="Tony Dungy" class="img-responsive"></div>
						<h3 class="name">Tony Dungy</h3>
						<p class="text-alt"><small>Super Bowl Champion Coach </small></p>
						<p class="about">Studio Analyst, "Football Night in America" & "Thursday Night Football"</p>
						<ul class="speaker-socials">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="speaker">
						<div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker3.jpg" alt="Dan Reeves" class="img-responsive"></div>
						<h3 class="name">Anthony Munoz</h3>
						<p class="text-alt"><small>NFL, 1965 - 2003</small></p>
						<p class="about">2x Super Bowl Champion Coach (VI, XII)</p>
						<ul class="speaker-socials">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="speaker">
						<div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker4.jpg" alt="Munoz Anthony" class="img-responsive"></div>
						<h3 class="name">Dan Reeves</h3>
						<p class="text-alt"><small>Cincinnati Bengals, 1980 -1992</small></p>
						<p class="about">Pro Football Hall of Fame</p>
						<ul class="speaker-socials">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
						</ul>
					</div>
				</div>
		</section>


	<section id="prices" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-shopping-04"></span>
			<h3>Tickets</h3>
			<p class="text-alt">Get yours why they are still <span class="highlight">available</span></p>
			<br/>
			<br/>
			<div class="row no-margin">
				<div class="no-padding col-xs-12 col-sm-3">
				<div class="price">
					<div class="price-top">
					<h4 class="price-title">Priority Seating</h4>
					<div class="price-category">Table</div>
					<div class="price-per"><sup>$</sup>2000<sub>/per</sub></div>
					<div class="price-desc">Best available seats nearest to Sponsor and VIP seating.  Clear lines of site to the stage. Good for 10 people.</div>
					</div>
					</div>
				</div>
				<div class="no-padding col-xs-12 col-sm-3">
					<div class="price left">
					<div class="price-top">
						<h4 class="price-title">Priority Seating</h4>
						<div class="price-category">Seat</div>
						<div class="price-per"><sup>$</sup>200<sub>/per</sub></div>
						<div class="price-desc">Best available seats nearest to Sponsor and VIP seating.  Clear lines of site to the stage.  Ticket Good for 1 Person.</div>
					</div>
									
					</div>
					</div>
					<div class="no-padding col-xs-12 col-sm-3">
					<div class="price">
						<div class="price-top">
						<h4 class="price-title">Corporate Seating</h4>
						<div class="price-category">Table</div>
						<div class="price-per"><sup>$</sup>1000<sub>/per</sub></div>
						<div class="price-desc">Purchase of this table for $1000 includes tickets for 10 people.  Set just behind Priority Seating. Good for 10 people.</div>
						</div>
						</div>
					</div>
					<div class="no-padding col-xs-12 col-sm-3">
						<div class="price left">
						<div class="price-top">
							<h4 class="price-title">Corporate Seating</h4>
							<div class="price-category">Seat</div>
							<div class="price-per"><sup>$</sup>100<sub>/per</sub></div>
							<div class="price-desc">Set just behind Priority Seating. Ticket Good for 1 Person.</div>
						</div>
						</div>
						</div>
				</div> 
		</div> 
	</section>


	<section id="gallery" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-badges-votes-01"></span>
			<h3>Previous events</h3>
			<p class="text-alt">see what we did <span class="highlight">lately</span></p>
			<br/>

			<div class="gallery masonry">
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-1">
						<img src="assets/img/gallery/gallery1-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-1">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery1.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-2">
						<img src="assets/img/gallery/gallery2-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-2">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery2.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-3">
						<img src="assets/img/gallery/gallery3-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-3">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery3.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-4">
						<img src="assets/img/gallery/gallery4-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-4">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery4.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-5">
						<img src="assets/img/gallery/gallery5-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-5">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery5.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-6">
						<img src="assets/img/gallery/gallery6-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-6">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery6.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-7">
						<img src="assets/img/gallery/gallery7-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-7">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery7.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-8">
						<img src="assets/img/gallery/gallery8-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-8">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery8.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-9">
						<img src="assets/img/gallery/gallery9-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-9">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery9.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-10">
						<img src="assets/img/gallery/gallery10-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-10">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery10.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-11">
						<img src="assets/img/gallery/gallery11-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-11">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery11.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-12">
						<img src="assets/img/gallery/gallery12-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-12">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<br/>

							<img src="assets/img/gallery/gallery12.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>
			</div>
			<div class="col-sm-6" style="padding-bottom: 56.25%;height: 0;position: relative;padding-top: 25px;">
				<iframe style="width: 98%;position: absolute;top: 0;left: 0;height: 100%;" src="https://www.youtube.com/embed/Q0DRgW-XlxM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="col-sm-6" style="padding-bottom: 56.25%;height: 0;position: relative;padding-top: 25px;">
				<iframe style="width: 98%;position: absolute;top: 0;left: 0;height: 100%;" src="https://www.youtube.com/embed/rkrEkMYY1mc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</section>

	<section id="contacts" class="section align-center">
		<div class="contacts-wrapper">

			<div class="container">
				<h3> 2019 Host Committee </h3>
				<p class="text-alt">National <span class="highlight">honorary</span> Co-Chairmen:</p>
				<ul class="list">
					<li>Joe Gibbs, Pro Football Hall of Fame</li>
					<li>Steve Largent, Pro Football Hall of Fame</li>
					<li>Anthony Muñoz, Pro Football Hall of Fame</li>
					<li>Mike Singletary, Pro Football Hall of Fame</li>
					<li>Bart Starr, Pro Football Hall of Fame</li>
				</ul>

				<p class="text-alt">Host<span class="highlight"> Committee:</span></p>
				<ul class="list">
					<li>Marc Belton, Principal, Wisefellows Consulting</li>
					<li>Matt Birk, NFL, 1998 – 2012</li>
					<li>Richard Davis, Executive Chairman, U.S. Bancorp and Minnesota Super Bowl Host Committee Chair</li>
					<li>Dennis & Megan Doyle</li>
					<li>Tony Dungy, Super Bowl Champion Coach, Studio Analyst. "Football Night in America" & "Thursday Night Football"</li>
					<li>Greg Coleman,Minnesota Vikings, 1978 - 1987</li>
					<li>Jeff Siemon, Minnesota Vikings, 1972 - 1982</li>
					<li>Kevin Warren, COO, Minnesota Vikings</li>
					<li>Clark Hunt, Owner, Kansas City Chiefs</li>
					<li>Dr. Donna Harris, President, Minnehaha Academy</li>
					<li>Brad Hewitt, CEO, Thrivent Financial</li>
					<li>Cindy Kent, President & General Manager, 3M Infection Prevention Division</li>
					<li>Tom Lehman, Professional Golfer (PGA)</li>
					<li>Paul Molitor, Manager, Minnesota Twins</li>
					<li>Maya Moore, Minnesota Lynx</li>
					<li>Marilyn Carlson Nelson, Minnesota Super Bowl Host Committee Chair</li>
					<li>Chris Roberts, Executive Vice President & COO Dairy Foods, Land O’Lakes, Inc.</li>
					<li>Rick Spielman, General Manager, Minnesota Vikings</li>
					<li>Melvin Tennant CEO, Meet Minneapolis</li>
					<li>Kevin Warren, COO, Minnesota Vikings</li>
					<li>Ben Utecht, NFL, 2004 – 2009</li>
					<li>Paul Walser, Walser Automotive</li>
				</ul>
			</div>
		</div>
	</section>

	<section id="sponsors" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-documents-bookmarks-12"></span>
			<h3>General sponsors</h3>
			<p class="text-alt">companies that <span class="highlight">support</span> us</p>
			<br/>
			<br/>

			<div class="sponsors">
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor7.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor8.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor9.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor10.jpg" alt=""></div>
			</div>

			<div class="sponsors">
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor11.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor12.png" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor13.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor14.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor15.png" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor16.png" alt=""></div>
			</div>
			<div class="sponsors">
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor17.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor18.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor19.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor20.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor21.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor2.jpg" alt=""></div>
			</div>
			<div class="sponsors">
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor3.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor4.jpg" alt=""></div>
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor5.jpg" alt=""></div>
			</div>

			<div class="sponsors">
				<div class="sponsor big"><img src="assets/img/sponsors/sponsor6.jpg" alt=""></div>

			</div>

		</div>
	</section>


	{% include footer.html %}
